In [1]:
# Kernel / venv verification
# Run this first. No need to edit
import sys, importlib
print('python executable:', sys.executable)
print('ipykernel available:', importlib.util.find_spec('ipykernel') is not None)
import pandas as pd
print('pandas version:', pd.__version__)

python executable: c:\Users\Ray\.venv\Scripts\python.exe
ipykernel available: True
pandas version: 2.3.3

# Refresher

In [4]:
#open the file "pittsburgh-weather-2024.csv"
with open('pittsburgh-weather-2024.csv', 'r') as file:
    lines = file.readlines()

#look at the first 5 lines of the file
print(lines[:5])
print()

#extracting daily high temperatures from the CSV file
daily_highs = []
for line in lines[1:]: #first line is the header
    row = line.strip().split(',')
    daily_highs.append(float(row[1]))
print("Daily high temperatures:", daily_highs)
print()

#Using list of daily highs to calculate the average high temperature
total_high = 0
for t in daily_highs:
    total_high += t

average_high = total_high / (len(daily_highs))

print("Average high temperature:", average_high)

['Day,High,Low,Precipitation,Snow\n', 'January 1,38.0,32.0,0.08,0.4\n', 'January 2,35.0,32.0,0.0,0.0\n', 'January 3,41.0,32.0,0.0,0.0\n', 'January 4,36.0,27.0,0.0,0.0\n']

Daily high temperatures: [38.0, 35.0, 41.0, 36.0, 38.0, 35.0, 36.0, 40.0, 50.0, 42.0, 43.0, 46.0, 46.0, 29.0, 22.0, 19.0, 20.0, 29.0, 27.0, 19.0, 25.0, 39.0, 45.0, 56.0, 59.0, 64.0, 47.0, 46.0, 36.0, 40.0, 45.0, 48.0, 47.0, 47.0, 55.0, 48.0, 46.0, 54.0, 63.0, 63.0, 63.0, 48.0, 46.0, 44.0, 39.0, 56.0, 39.0, 29.0, 37.0, 42.0, 52.0, 59.0, 49.0, 58.0, 37.0, 47.0, 65.0, 66.0, 64.0, 39.0, 52.0, 53.0, 66.0, 74.0, 75.0, 62.0, 50.0, 65.0, 56.0, 41.0, 52.0, 68.0, 71.0, 74.0, 61.0, 61.0, 56.0, 36.0, 47.0, 50.0, 41.0, 54.0, 43.0, 48.0, 67.0, 54.0, 61.0, 52.0, 53.0, 59.0, 59.0, 64.0, 63.0, 62.0, 47.0, 43.0, 54.0, 61.0, 74.0, 76.0, 66.0, 69.0, 60.0, 60.0, 82.0, 74.0, 80.0, 82.0, 73.0, 70.0, 59.0, 49.0, 62.0, 68.0, 61.0, 57.0, 70.0, 81.0, 83.0, 83.0, 73.0, 80.0, 85.0, 87.0, 65.0, 78.0, 73.0, 78.0, 81.0, 65.0, 62.0, 60.0, 66.0, 80.0, 68.0, 78.0, 76.0, 70.0, 81.0, 85.0, 86.0, 87.0, 84.0, 79.0, 84.0, 83.0, 82.0, 78.0, 75.0, 65.0, 69.0, 74.0, 80.0, 69.0, 82.0, 87.0, 80.0, 79.0, 73.0, 78.0, 75.0, 67.0, 72.0, 80.0, 87.0, 82.0, 80.0, 89.0, 94.0, 94.0, 89.0, 92.0, 94.0, 94.0, 86.0, 82.0, 84.0, 85.0, 80.0, 88.0, 85.0, 86.0, 78.0, 86.0, 91.0, 89.0, 87.0, 86.0, 89.0, 92.0, 92.0, 92.0, 79.0, 91.0, 94.0, 93.0, 93.0, 93.0, 85.0, 81.0, 84.0, 88.0, 85.0, 75.0, 84.0, 85.0, 85.0, 82.0, 89.0, 92.0, 86.0, 83.0, 92.0, 91.0, 85.0, 82.0, 87.0, 90.0, 91.0, 78.0, 85.0, 84.0, 79.0, 77.0, 78.0, 81.0, 83.0, 86.0, 83.0, 85.0, 81.0, 70.0, 69.0, 72.0, 76.0, 82.0, 87.0, 87.0, 91.0, 94.0, 93.0, 92.0, 94.0, 83.0, 87.0, 73.0, 75.0, 79.0, 82.0, 86.0, 69.0, 69.0, 75.0, 82.0, 85.0, 84.0, 83.0, 86.0, 85.0, 80.0, 80.0, 79.0, 84.0, 87.0, 89.0, 85.0, 78.0, 78.0, 79.0, 75.0, 74.0, 77.0, 70.0, 67.0, 68.0, 69.0, 76.0, 80.0, 74.0, 83.0, 63.0, 68.0, 65.0, 62.0, 70.0, 70.0, 77.0, 57.0, 53.0, 52.0, 61.0, 68.0, 73.0, 74.0, 77.0, 82.0, 77.0, 61.0, 68.0, 61.0, 56.0, 65.0, 78.0, 77.0, 80.0, 65.0, 60.0, 64.0, 73.0, 81.0, 72.0, 65.0, 65.0, 57.0, 61.0, 61.0, 51.0, 55.0, 47.0, 52.0, 51.0, 55.0, 61.0, 62.0, 63.0, 40.0, 43.0, 47.0, 45.0, 56.0, 56.0, 46.0, 41.0, 36.0, 28.0, 32.0, 35.0, 35.0, 43.0, 35.0, 30.0, 40.0, 55.0, 55.0, 59.0, 49.0, 31.0, 31.0, 41.0, 43.0, 58.0, 57.0, 40.0, 36.0, 35.0, 44.0, 27.0, 43.0, 43.0, 41.0, 45.0, 53.0, 64.0, 65.0, 50.0, 49.0]

Average high temperature: 65.88524590163935

# 1D and 2D arrays

In [5]:
import numpy as np

### 1D

In [6]:
arr1 = np.array([1, 2, 3, 4, 5])

In [7]:
print(arr1)

[1 2 3 4 5]

**array.dtype** : This tells you the data type of the elements inside the array.

**type(array)** : This tells you the type of the object itself — i.e., what kind of Python object the array is.

In [8]:
print(arr1.dtype)
print(type(arr1))

int64
<class 'numpy.ndarray'>

### 2D

In [9]:
arr2 = np.array([[1, 2, 3],
                [4, 5, 6]])

In [10]:
print(arr2)

[[1 2 3]
 [4 5 6]]

In [11]:
print(type(arr2))
print(arr2.dtype)

<class 'numpy.ndarray'>
int64

### Upcasting
In NumPy, **Upcasting** refers to converting mixed data types to a single, more general type (like converting integers to strings) to ensure the array is homogeneous.

specific -> general

In [13]:
arr3 = np.array([[1, 2, 3, 4, 5],
                 ['one', 'two', 'three', 'four', 'five']])

In [14]:
print(arr3)

[['1' '2' '3' '4' '5']
 ['one' 'two' 'three' 'four' 'five']]

In [15]:
print(type(arr3))
print(arr3.dtype)

<class 'numpy.ndarray'>
<U21

That means NumPy has inferred the array’s data type as Unicode string with up to 11 characters.

NumPy sees mixed types (integers and strings), and it automatically upcasts the integers to strings so all elements share a common type.

# Creating Arrays

In [ ]:
np.array([1, 2, 3, 4, 5])

In [ ]:
np.arange(0,10,2)

In [ ]:
np.linspace(0,1,5)

In [ ]:
np.zeros((3,2))

In [ ]:
np.ones(4)

In [ ]:
a = np.random.rand(3,4)

In [ ]:
print(a)

In [ ]:
print(arr2[0]) # accessing the first array
print(type(arr2[0]))
print(type(arr2[0][0]))

In [ ]:
print(arr2[1]) # accessing the second array
print(type(arr2[1]))
print(type(arr2[1][0]))

In [ ]:
print(arr2[0, 0]) # accessing the first element
print(type(arr2[0, 0]))

# Array Operations

### Element-wise math

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
arr

In [ ]:
arr + 10

In [ ]:
arr - 5

In [ ]:
arr * 3

In [ ]:
arr / 5

In [ ]:
arr ** 2

### Broadcasting

In [ ]:
arr = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])
arr

In [ ]:
print(10)
arr + 10

In [ ]:
print(np.array(10))
arr + np.array(10)

In [ ]:
print(np.array([[10, 10, 10],[10, 10, 10],[10, 10, 10]]))
arr + np.array([[10, 10, 10],[10, 10, 10],[10, 10, 10]])

### Aggregation

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
arr

In [ ]:
np.mean(arr)

In [ ]:
np.sum(arr)

In [ ]:
np.min(arr)

In [ ]:
np.max(arr)

In [ ]:
np.std(arr)

Also works on 2D Arrays

In [ ]:
arr2 = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])
arr2

In [ ]:
np.mean(arr2)

In [ ]:
np.sum(arr2)

In [ ]:
np.min(arr2)

In [ ]:
np.max(arr2)

In [ ]:
np.std(arr2)

# Array Indexing and Slicing

In [ ]:
arr

In [ ]:
arr[0]

In [ ]:
arr[1:3]

In [ ]:
arr2

In [ ]:
arr2[0]

In [ ]:
arr2[0,2]

In [ ]:
arr2[1,1:]

### Boolean Indexing

In [ ]:
arr[arr >= 4]

In [ ]:
arr2[arr2 % 2 == 0]

### Shape and Reshape

In [ ]:
print(arr)
print(arr.shape)
print(arr.size)
print(arr.ndim)

In [ ]:
print(arr2)
print(arr2.shape)
print(arr2.size)
print(arr2.ndim)

### Reshape

In [ ]:
arr2.reshape(3, 2)

In [ ]:
arr2.reshape(9,1)

In [ ]:
arr2.flatten()

In [ ]:
array = np.array([[1, 2, 3],[4,5,6]])

print(array)

In [ ]:
array.reshape(3,2)

# Numpy Exercise

In [ ]:
print(daily_highs)

In [ ]:
#Using np.array to find average daily high
daily_highs_array = np.array(daily_highs)
average_high = np.mean(daily_highs_array)

print("Average high temperature:", average_high)

# Pandas

In [ ]:
import pandas as pd

## Creating Data

In [ ]:
daily_highs

In [ ]:
pgh_weather = pd.Series(    data=daily_highs,
    name='Pittsburgh Daily Highs'
)

In [ ]:
pgh_weather

In [ ]:
pd.set_option('display.max_rows', None)  # Show all rows in the Series

In [ ]:
pgh_weather

In [ ]:
pd.set_option('display.max_rows', 20)

In [ ]:
df = pd.DataFrame({
    'Day': [f'Day {i+1}' for i in range(len(daily_highs))],
    'High': daily_highs
})

In [ ]:
df

In [ ]:
df = pd.read_csv('pittsburgh-weather-2024.csv')

In [ ]:
df

## Data Exploration

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
df = pd.read_csv('pittsburgh-weather-2024.csv')

In [ ]:
df.columns

# Selecting and Filtering Data

In [ ]:
df['Day']

In [ ]:
df[['Day', 'Snow']]

In [ ]:
df[df['Day'] == 'December 13']

In [ ]:
df[df['High'] >= 89]

In [ ]:
df[df['Low'] == 13.0]

In [ ]:
df.iloc[3]

In [ ]:
df.loc[3]

In [ ]:
df.loc['December 13']

In [ ]:
df.set_index('Day', inplace = True)
df.head()

In [ ]:
df.loc['January 4']

In [ ]:
df.loc[3] #Doesn't work after setting index

In [ ]:
df.iloc[3] # Still works with iloc

In [ ]:
df.head()

## Pandas Exercise 

Load all_olympic_medalists.csv

Do the following tasks/ Answer the following questions:
1. Show the first 5 rows and the last 5 rows.
2. How many rows are in the dataset?
3. Are there any missing values in any of the columns? 
4. How many total medals are recorded in the dataset?
5. How many medals were awarded in the first Olympic year (1896)? How would you do this if you didn't know the first year?
6. How many medals has the US won?
7. What years were medals awarded for Rugby?
8. What was the first year women were included?

In [ ]:
df = pd.read_csv('all_olympic_medalists.csv')

In [ ]:
#show the first 5 rows
df.head()

In [ ]:
#show the last 5 rows
df.tail()

In [ ]:
# Are there any missing values in any of the columns?
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
# Show the missing values in the 'medal' column
df[df['medal'].isnull()]

In [ ]:
# How many total medals are recorded in the dataset?
df['medal'].count()

In [ ]:
#don't use len() -- includes NaN values
len(df['medal'])

In [ ]:
# How many medals were awarded in the first Olympic year (1896)?
df[df['year'] == df['year'].min()]['medal'].count()

In [ ]:
# 6. How many medals has the US won?
df[df['country'] == 'United States']['medal'].count()

In [ ]:
# What years did anyone medal for "Rugby"?
df[df['sport'] == 'Rugby']['year'].unique()

In [ ]:
# What was the first year women were included?
df[df['event_gender'] == 'Women\'s']['year'].min()

## Pandas Cleaning Tasks

In [ ]:
df= pd.read_csv('all_olympic_medalists.csv')

In [ ]:
df.head()

In [ ]:
#show missing values in the 'medal' column
df[df['medal'].isnull()]

In [ ]:
df.fillna({'country': 'Unknown'}, inplace=True)

In [ ]:
df[df['medal'].isnull()]

In [ ]:
# remove rows with missing values in the 'medal' column
df.dropna(subset=['medal'], inplace=True)

In [ ]:
df[df['medal'].isnull()]

In [ ]:
df.columns

In [ ]:
df.rename(columns={'event_gender':'gender'}, inplace=True)

In [ ]:
df.columns

In [ ]:
df['year'] = df['year'].astype(str)

In [ ]:
df['year'] = df['year'].astype(int)

In [ ]:
df['event'] = df['gender']+ ' ' + df['event_name']

In [ ]:
df.head()

In [ ]:
#function to convert year (XXXX) to Y format
def convert_year_to_datetime(year):
    return pd.to_datetime(year, format='%Y')

df['year'] = df['year'].apply(convert_year_to_datetime)
df.head()

In [ ]:
#change 'year' column back to just the year
df['year'] = df['year'].dt.year

In [ ]:
df.head()

In [ ]:
us_df = df.groupby('country').get_group('United States').groupby('year').size().sort_values(ascending=False)

In [ ]:
pd.set_option('display.max_rows', None)  # Show all rows in the Series

In [ ]:
us_df

In [ ]:
pd.set_option('display.max_rows', 10)

# Matplotlib

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
#plot the number of medals won by the US over the years
us_df = df.groupby('country').get_group('United States').groupby('year').size()
us_df.plot(kind='bar', figsize=(12, 6), color='green', title='Number of Medals Won by the US')

In [ ]:
#plot number of  medalists in the Olympics over the years
us_golds = df.groupby('country').get_group('United States').groupby('medal').get_group('Gold').groupby('year').size()
us_golds.plot(kind='bar', figsize=(12, 6), color='gold', title='Number of Gold Medals Awarded to the US')

In [ ]:
us_golds.head()

In [ ]:
#plot the number of medals won by US in the Olympics split by medal type
df.head()

In [ ]:
#filter for US women
us = df[ (df['country_code'] == 'USA') ]

# Group by year and medal type, then count
medal_counts = us.groupby(['year', 'medal']).size().unstack(fill_value=0)

# Reorder medal columns: Bronze, Silver, Gold
medal_counts = medal_counts[['Bronze', 'Silver', 'Gold']]

# Plot the stacked bar chart
medal_counts.plot(
    kind='bar',
    stacked=True,
    figsize=(12, 6),
    color={'Gold': "#F7D722", 'Silver': '#C0C0C0', 'Bronze': '#CD7F32'}
)

plt.title('US Olympic Medals Over Time')
plt.xlabel('Year')
plt.ylabel('Number of Medals')
plt.legend(title='Medal')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

# Pandas Data Cleaning Exercise

In all questions referring to gross, use the adjusted gross (in 2022 dollars)

- Drop the column 'Ref.'
- Rename 'Adjusted gross (in 2022 dollars)' to 'Adjusted gross'.
- List the artists and the number of times they appear in the rankings.
- What Taylor Swift tours made the rankings?
- Clean the actual gross and adjusted gross columns and convert them to float.
- What is the total adjusted gross from all 20 concerts?
- Calculate average gross/show for each rank using the adjusted gross. 
- How much has Taylor Swift earned from the concerts on this list?

In [ ]:
df = pd.read_csv('top-20-womens-tours.csv')

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
#- Drop the column 'Ref.'
df.drop(columns=['Ref.'], inplace=True)

In [ ]:
#- Rename 'Adjusted gross (in 2022 dollars)' to 'Adjusted gross'.
df.columns

In [ ]:
df.rename(columns={'Adjusted gross (in 2022 dollars)': 'Adjusted gross'}, inplace=True)
df.columns

In [ ]:
#- List the artists and the number of times they appear in the rankings.
df['Artist'].value_counts()

In [ ]:
df.groupby('Artist')['Tour title'].count()

In [ ]:
#- What Taylor Swift tours made the rankings?
taylor = df.groupby('Artist').get_group('Taylor Swift')
taylor['Tour title']

In [ ]:
df[df['Artist'] == 'Taylor Swift']['Tour title']

In [ ]:
# - Clean the actual gross and adjusted gross columns and convert them to float.
def clean_currency(value):
    if isinstance(value, str):
        value = value.replace('$', '').replace(',', '')
        return float(value)
    
df['Actual gross'] = df['Actual gross'].apply(clean_currency)
df['Adjusted gross'] = df['Adjusted gross'].apply(clean_currency)

df.head()

In [ ]:
#- What is the total adjusted gross from all 20 concerts?
df['Adjusted gross'].sum()

In [ ]:
#- Calculate average gross/show for each rank using the adjusted gross. 
df['Average gross'] = round(df['Adjusted gross'] / df['Shows'], 2)
df

In [ ]:
#- How much has Taylor Swift earned from the concerts on this list?
df[df['Artist'] == 'Taylor Swift']['Adjusted gross'].sum()

In [ ]:
df.groupby('Artist')['Adjusted gross'].sum().loc['Taylor Swift']

### Merging and Concatenation (pd.merge vs pd.concat) 

When combining data:
- Use **pd.concat** to stack DataFrames (add rows or columns). Good for appending new records or combining same-schema data.
- Use **pd.merge** (SQL-style joins) when you need to join on keys (one-to-many, many-to-one, etc.).

This section shows examples and quick exercises to practice.
# Merge examples
import pandas as pd

# Example DataFrames for merges
df_people = pd.DataFrame({
    'person_id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie']
})

df_scores = pd.DataFrame({
    'person_id': [1, 2, 2, 4],
    'score': [95, 80, 82, 77]
})

print("people\n", df_people)
print("\nscores\n", df_scores)

# Inner join (only matching keys)
inner = pd.merge(df_people, df_scores, on='person_id', how='inner')
print("\ninner merge:\n", inner)

# Left join (all people, scores where available)
left = pd.merge(df_people, df_scores, on='person_id', how='left')
print("\nleft merge:\n", left)

# Demonstrate suffixes and multiple keys

df_a = pd.DataFrame({'id':[1,2], 'val':[10,20]})
df_b = pd.DataFrame({'id':[1,2], 'val':[100,200]})
joined = pd.merge(df_a, df_b, on='id', suffixes=('_a', '_b'))
print("\nsuffixes example:\n", joined)

# Use indicator to see join origin
print('\nouter merge with indicator:\n', pd.merge(df_people, df_scores, on='person_id', how='outer', indicator=True))
# Concatenation examples

import pandas as pd

df1 = pd.DataFrame({'A':[1,2], 'B':[3,4]})
df2 = pd.DataFrame({'A':[5,6], 'B':[7,8]})
# Stack rows (vertical)
v = pd.concat([df1, df2], ignore_index=True)
print("vertical concat:\n", v)

# Concatenate with mismatched columns (outer join style)
df3 = pd.DataFrame({'A':[9], 'C':[10]})
v2 = pd.concat([df1, df3], ignore_index=True, sort=False)
print("\nconcat with mismatched columns:\n", v2)

# Concatenate side-by-side (axis=1)
h = pd.concat([df1, df2], axis=1)
print("\nhorizontal concat (axis=1):\n", h)

# keys to create hierarchical index when concatenating multiple groups
grouped = pd.concat([df1, df2], keys=['g1','g2'])
print("\nconcat with keys:\n", grouped)
### Exercises (try before peeking at solutions) 

1. Use `df_olympics` and the existing `df_continents` example: left-merge them and compute medal counts per continent.
2. Given two DataFrames with the same columns but different rows, concatenate them and reset the index.
3. Find a case that produces a many-to-many join (duplicate keys on both frames) and observe the result — what happens?

(Hints: use `indicator=True` and `validate='one_to_many'` to check behavior.)
# Solutions (run to check)
import pandas as pd
# 1. Merge olympics -> continents, count medals per continent
if 'df_olympics' in globals() and 'df_continents' in globals():
    merged = pd.merge(df_olympics, df_continents, on='country_code', how='left')
    print("Medals by continent:\n", merged.groupby('continent')['medal'].count().sort_values(ascending=False).head())
else:
    print("df_olympics or df_continents not found in this kernel - run earlier cells first.")

# 2. Concatenate two frames and reset index
a = pd.DataFrame({'x':[1,2]})
b = pd.DataFrame({'x':[3,4]})
print("\nconcat and reset:\n", pd.concat([a,b], ignore_index=True))

# 3. Many-to-many example
left = pd.DataFrame({'k':[1,1],'v_left':[10,20]})
right = pd.DataFrame({'k':[1,1],'v_right':[100,200]})
print("\nmany-to-many join (cartesian product):\n", pd.merge(left, right, on='k'))

In [ ]:
# 1. Merging Data
# First, ensure we have the olympic data loaded
df_olympics = pd.read_csv('all_olympic_medalists.csv')

# Create a small DataFrame to map codes to continents (just a sample)
continent_data = {
    'country_code': ['USA', 'CHN', 'GBR', 'AUS', 'CAN', 'FRA', 'GER', 'JPN'],
    'continent': ['North America', 'Asia', 'Europe', 'Oceania', 'North America', 'Europe', 'Europe', 'Asia']
}
df_continents = pd.DataFrame(continent_data)

# Merge the two DataFrames using 'country_code' as the key
# how='left' keeps all rows from the olympics data, even if we didn't map their continent
df_merged = pd.merge(df_olympics, df_continents, on='country_code', how='left')

# Check the result to see the new 'continent' column
df_merged[df_merged['continent'].notnull()].head()

In [ ]:
# 2. Pivot Tables
# We want to see Countries as Rows, Years as Columns, and the Count of Medals as values
pivot_medals = df_olympics.pivot_table(
    index='country', 
    columns='year', 
    values='medal', 
    aggfunc='count', 
    fill_value=0
)

# Show a subset (first 5 countries, last 5 Olympic years)
pivot_medals.iloc[:5, -5:]

In [ ]:
# 3. Time Series Handling
df_weather = pd.read_csv('pittsburgh-weather-2024.csv')

# The 'Day' column is just "Month Day" (e.g., "January 1"). 
# We need to add the year and convert to datetime.
df_weather['Date'] = pd.to_datetime(df_weather['Day'] + ', 2024', format='%B %d, %Y')

# Set the new Date column as the index
df_weather.set_index('Date', inplace=True)

# 4. Resampling
# 'M' stands for Month. We calculate the mean for every month.
monthly_temps = df_weather['High'].resample('M').mean()

monthly_temps

In [ ]:
# 5. Visualization
# Plotting the resampled time series data
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 5))
monthly_temps.plot(marker='o', color='orange', linestyle='-')

plt.title('Average Monthly High Temperature in Pittsburgh (2024)')
plt.ylabel('Temperature (°F)')
plt.xlabel('Month')
plt.grid(True)
plt.show()