In [ ]:
# Kernel / venv verification
import sys, importlib
print('python executable:', sys.executable)
print('ipykernel available:', importlib.util.find_spec('ipykernel') is not None)
import pandas as pd
print('pandas version:', pd.__version__)
import numpy as np

# Refresher

In [ ]:
#open the file "pittsburgh-weather-2024.csv"
with open('pittsburgh-weather-2024.csv', 'r') as file:
    lines = file.readlines()

#look at the first 5 lines of the file
print(lines[:5])
print()

#extracting daily high temperatures from the CSV file
daily_highs = []
for line in lines[1:]: #first line is the header
    row = line.strip().split(',')
    daily_highs.append(float(row[1]))
print("Daily high temperatures:", daily_highs)
print()

#Using list of daily highs to calculate the average high temperature
total_high = 0
for t in daily_highs:
    total_high += t

average_high = total_high / (len(daily_highs))

print("Average high temperature:", average_high)

# Numpy Exercise

In [ ]:
print(daily_highs)

In [ ]:
#Using np.array to find average daily high
daily_highs_array = np.array(daily_highs)
average_high = np.mean(daily_highs_array)

print("Average high temperature:", average_high)

# Pandas

In [ ]:
import pandas as pd

## Creating Data

In [ ]:
daily_highs

In [ ]:
pgh_weather = pd.Series(    data=daily_highs,
    name='Pittsburgh Daily Highs'
)

In [ ]:
pgh_weather

In [ ]:
pd.set_option('display.max_rows', None)  # Show all rows in the Series

In [ ]:
pgh_weather

In [ ]:
pd.set_option('display.max_rows', 20)

In [ ]:
df = pd.DataFrame({
    'Day': [f'Day {i+1}' for i in range(len(daily_highs))],
    'High': daily_highs
})

In [ ]:
df

In [ ]:
df = pd.read_csv('pittsburgh-weather-2024.csv')

In [ ]:
df

## Data Exploration

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
df = pd.read_csv('pittsburgh-weather-2024.csv')

In [ ]:
df.columns

# Selecting and Filtering Data

In [ ]:
df['Day']

In [ ]:
df[['Day', 'Snow']]

In [ ]:
df[df['Day'] == 'December 13']

In [ ]:
df[df['High'] >= 89]

In [ ]:
df[df['Low'] == 13.0]

In [ ]:
df.iloc[3]

In [ ]:
df.loc[3]

In [ ]:
df.set_index('Day', inplace = True)
df.head()

In [ ]:
df.loc['January 4']

In [ ]:
df.iloc[3] # Still works with iloc

In [ ]:
df.head()

## Pandas Exercise 

Load all_olympic_medalists.csv

Do the following tasks/ Answer the following questions:
1. Show the first 5 rows and the last 5 rows.
3. Are there any missing values in any of the columns? 
4. How many total medals are recorded in the dataset?
5. How many medals were awarded in the first Olympic year (1896)? How would you do this if you didn't know the first year?
6. How many medals has the US won?
7. What years were medals awarded for Rugby?
8. What was the first year women were included?

In [ ]:
df = pd.read_csv('all_olympic_medalists.csv')

#### 1. Show the first 5 rows and the last 5 rows.

In [ ]:
#show the first 5 rows
df.head()

In [ ]:
#show the last 5 rows
df.tail()

#### 2. How many rows are in the dataset?

In [ ]:
# you can find out using len
print(len(df))

#or using .shape
# Returns (rows, columns)
print(df.shape) 

# Returns just the number of rows
df.shape[0]

#### 3. Are there any missing values in any of the columns?

In [ ]:
# Are there any missing values in any of the columns?
df.isnull().sum()

In [ ]:
df.info()

#### 4. Which values are missing in the medal column? How many total medals are recorded in the dataset?

In [ ]:
# Show the missing values in the 'medal' column
df[df['medal'].isnull()]

In [ ]:
# How many total medals are recorded in the dataset?
df['medal'].count()

In [ ]:
#don't use len() -- includes NaN values
len(df['medal'])

##### 5. How many medals were awarded in the first Olympic year (1896)? How would you do this if you didn't know the first year?

In [ ]:
# How many medals were awarded in the first Olympic year (1896)?
df[df['year'] == df['year'].min()]['medal'].count()

In [ ]:
# alternative ways to achieve the same result:

# A more verbose, step-by-step approach for clarity
first_year = df['year'].min()
first_year_df = df[df['year'] == first_year]
medal_count = first_year_df['medal'].count()
print(f"(Alternative 1) Medals in the first year ({first_year}): {medal_count}")

#Using .loc for selection (often preferred over chained indexing)
medal_count_loc = df.loc[df['year'] == df['year'].min(), 'medal'].count()
print(f"(Alternative 2) Medals in the first year ({first_year}): {medal_count_loc}")

#### 6. How many medals has the US won?

In [ ]:
# 6. How many medals has the US won?
df[df['country'] == 'United States']['medal'].count()

#### 7. What years were medals awarded for Rugby?

In [ ]:
# What years did anyone medal for "Rugby"?
df[df['sport'] == 'Rugby']['year'].unique()

#### 8. What was the first year women were included?

In [ ]:
# What was the first year women were included?
df[df['event_gender'] == 'Women\'s']['year'].min()

## Pandas Cleaning Tasks

In [ ]:
df= pd.read_csv('all_olympic_medalists.csv')
df.head()

In [ ]:
#show missing values in the 'medal' column
df[df['medal'].isnull()]

In [ ]:
df.fillna({'country': 'Unknown'}, inplace=True) 
df[df['medal'].isnull()]

In [ ]:
# remove rows with missing values in the 'medal' column
df.dropna(subset=['medal'], inplace=True)

In [ ]:
df[df['medal'].isnull()]

In [ ]:
df.columns

In [ ]:
df.rename(columns={'event_gender':'gender'}, inplace=True)

In [ ]:
df.columns

In [ ]:
df['year'] = df['year'].astype(str)

In [ ]:
df['year'] = df['year'].astype(int)

In [ ]:
df['event'] = df['gender']+ ' ' + df['event_name']

In [ ]:
df.head()

In [ ]:
#function to convert year (XXXX) to Y format
def convert_year_to_datetime(year):
    return pd.to_datetime(year, format='%Y')

df['year'] = df['year'].apply(convert_year_to_datetime)
df.head()

In [ ]:
#change 'year' column back to just the year
df['year'] = df['year'].dt.year

In [ ]:
df.head()

In [ ]:
us_df = df.groupby('country').get_group('United States').groupby('year').size().sort_values(ascending=False)

In [ ]:
pd.set_option('display.max_rows', None)  # Show all rows in the Series

In [ ]:
us_df

In [ ]:
pd.set_option('display.max_rows', 10)

# Matplotlib 
these codeblocks demonstrate the use of Matplotlib

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
#plot the number of medals won by the US over the years
us_df = df.groupby('country').get_group('United States').groupby('year').size()
us_df.plot(kind='bar', figsize=(12, 6), color='green', title='Number of Medals Won by the US')

In [ ]:
#plot number of  medalists in the Olympics over the years
us_golds = df.groupby('country').get_group('United States').groupby('medal').get_group('Gold').groupby('year').size()
us_golds.plot(kind='bar', figsize=(12, 6), color='gold', title='Number of Gold Medals Awarded to the US')

In [ ]:
us_golds.head()

In [ ]:
#plot the number of medals won by US in the Olympics split by medal type
df.head()

In [ ]:
#filter for US women
us = df[ (df['country_code'] == 'USA') ]

# Group by year and medal type, then count
medal_counts = us.groupby(['year', 'medal']).size().unstack(fill_value=0)

# Reorder medal columns: Bronze, Silver, Gold
medal_counts = medal_counts[['Bronze', 'Silver', 'Gold']]

# Plot the stacked bar chart
medal_counts.plot(
    kind='bar',
    stacked=True,
    figsize=(12, 6),
    color={'Gold': "#F7D722", 'Silver': '#C0C0C0', 'Bronze': '#CD7F32'}
)

plt.title('US Olympic Medals Over Time')
plt.xlabel('Year')
plt.ylabel('Number of Medals')
plt.legend(title='Medal')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

# Merging and Concatenation (pd.merge vs pd.concat)

## Merge examples

Example DataFrames and common joins (inner, left, outer).

In [ ]:
df = pd.read_csv('top-20-womens-tours.csv')

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
#- Drop the column 'Ref.'
df.drop(columns=['Ref.'], inplace=True)

In [ ]:
#- Rename 'Adjusted gross (in 2022 dollars)' to 'Adjusted gross'.
df.columns

In [ ]:
df.rename(columns={'Adjusted gross (in 2022 dollars)': 'Adjusted gross'}, inplace=True)
df.columns

In [ ]:
#- List the artists and the number of times they appear in the rankings.
df['Artist'].value_counts()

In [ ]:
df.groupby('Artist')['Tour title'].count()

In [ ]:
#- What Taylor Swift tours made the rankings?
taylor = df.groupby('Artist').get_group('Taylor Swift')
taylor['Tour title']

In [ ]:
df[df['Artist'] == 'Taylor Swift']['Tour title']

In [ ]:
# - Clean the actual gross and adjusted gross columns and convert them to float.
def clean_currency(value):
    if isinstance(value, str):
        value = value.replace('$', '').replace(',', '')
        return float(value)
    
df['Actual gross'] = df['Actual gross'].apply(clean_currency)
df['Adjusted gross'] = df['Adjusted gross'].apply(clean_currency)

df.head()

In [ ]:
#- What is the total adjusted gross from all 20 concerts?
df['Adjusted gross'].sum()

In [ ]:
#- Calculate average gross/show for each rank using the adjusted gross. 
df['Average gross'] = round(df['Adjusted gross'] / df['Shows'], 2)
df

In [ ]:
#- How much has Taylor Swift earned from the concerts on this list?
df[df['Artist'] == 'Taylor Swift']['Adjusted gross'].sum()

In [ ]:
#alternative answer
df.groupby('Artist')['Adjusted gross'].sum().loc['Taylor Swift']

# Merging and Concatenation (pd.merge vs pd.concat)

This section contains short examples and exercises showing common merge and concat patterns.

### Solutions (run to check)

In [ ]:
# 1. Merging Data
# First, ensure we have the olympic data loaded
df_olympics = pd.read_csv('all_olympic_medalists.csv')

# Create a small DataFrame to map codes to continents (just a sample)
continent_data = {
    'country_code': ['USA', 'CHN', 'GBR', 'AUS', 'CAN', 'FRA', 'GER', 'JPN'],
    'continent': ['North America', 'Asia', 'Europe', 'Oceania', 'North America', 'Europe', 'Europe', 'Asia']
}
df_continents = pd.DataFrame(continent_data)

# Merge the two DataFrames using 'country_code' as the key
# how='left' keeps all rows from the olympics data, even if we didn't map their continent
df_merged = pd.merge(df_olympics, df_continents, on='country_code', how='left')

# Check the result to see the new 'continent' column
df_merged[df_merged['continent'].notnull()].head()

### Exercises

1. Use `df_olympics` and the existing `df_continents` example: left-merge them and compute medal counts per continent.

In [ ]:
# (Solution) Exercise 1 — Medals by continent
import pandas as pd

# Ensure olympics data is loaded
if 'df_olympics' not in globals():
    df_olympics = pd.read_csv('all_olympic_medalists.csv')

# Small continent mapping used for the example
continent_data = {
    'country_code': ['USA', 'CHN', 'GBR', 'AUS', 'CAN', 'FRA', 'GER', 'JPN'],
    'continent': ['North America', 'Asia', 'Europe', 'Oceania', 'North America', 'Europe', 'Europe', 'Asia']
}

df_continents = pd.DataFrame(continent_data)

# Left merge and count medals per continent
merged = pd.merge(df_olympics, df_continents, on='country_code', how='left')
medal_counts_by_continent = merged.groupby('continent')['medal'].count().sort_values(ascending=False)
print(medal_counts_by_continent)


2. Given two DataFrames with the same columns but different rows, concatenate them and reset the index.

In [ ]:
# (Solution) Exercise 2 — Concatenate and reset index
import pandas as pd

a = pd.DataFrame({'x':[1,2]})
b = pd.DataFrame({'x':[3,4]})
concatenated = pd.concat([a, b], ignore_index=True)
print(concatenated)

3. Find a case that produces a many-to-many join (duplicate keys on both frames) and observe the result — what happens? (Hints: use `indicator=True` and `validate='one_to_many'` to check behavior.)

In [ ]:
# (Solution) Exercise 3 — Many-to-many join behavior
import pandas as pd

left = pd.DataFrame({'k':[1,1],'v_left':[10,20]})
right = pd.DataFrame({'k':[1,1],'v_right':[100,200]})

print('Many-to-many join result:')
print(pd.merge(left, right, on='k'))

print('\nWith indicator:')
print(pd.merge(left, right, on='k', indicator=True))

print('\nValidate check (expect an error for one_to_many):')
try:
    pd.merge(left, right, on='k', validate='one_to_many')
except Exception as e:
    print('validate="one_to_many" raised:', e)

# Concat() Exercise Solutions

Create `df_q1` with columns `['Name', 'Sales']` containing 2 rows of data.

In [ ]:
df_q1 = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Sales': [1000, 1500]
})

Create `df_q2` with the same columns containing 2 different rows of data.

In [ ]:
df_q2 = pd.DataFrame({
    'Name': ['Charlie', 'Diana'],
    'Sales': [2000, 2500]
})

Concatenate them using `pd.concat()` and reset the index.

In [ ]:
# Concatenate df_q1 and df_q2
result = pd.concat([df_q1, df_q2], ignore_index=True)

print(result)

## Exercise 2: Concatenate Side-by-Side (Columns)

In [ ]:
# Create df_names
df_names = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie']
})

# Create df_ages
df_ages = pd.DataFrame({
    'Age': [25, 30, 35]
})

# Concatenate horizontally
result = pd.concat([df_names, df_ages], axis=1)

print(result)

## Exercise 3: Concatenate Multiple DataFrames with Keys

In [ ]:
# Create January data
df_jan = pd.DataFrame({
    'Day': [1, 2, 3],
    'Temperature': [32, 35, 38]
})

# Create February data
df_feb = pd.DataFrame({
    'Day': [1, 2, 3],
    'Temperature': [35, 38, 42]
})

# Create March data
df_mar = pd.DataFrame({
    'Day': [1, 2, 3],
    'Temperature': [45, 50, 55]
})

# Concatenate all three with keys
result = pd.concat([df_jan, df_feb, df_mar], keys=['January', 'February', 'March'])

print(result)